// Чекбокс выполненности дела:
.todo-item_ready-mark {
  float: left;
  height: 36px;
  width: 36px;

  // Визуализация чекбокса:
  &_visual {
    @include fill-container();
    border: 1px solid $items-borders-color;
    border-radius: 50%;
    height: 34px;
    transition: border-color .3s ease;
    width: 34px;

    // Элементы "галочки" в визуализации чекбокса:
    &:before,
    &:after {
      content: '';
      background-color: $ok-color;
      display: inline-block;
      opacity: 0;
      position: absolute;
      transform-origin: center bottom;
      transition: transform .1s ease-in-out, opacity .3s ease;
      width: 2px;
    }

    &:before {
      height: 22px;
      left: 15px;
      top: 4px;
    }

    &:after {
      height: 12px;
      left: 15px;
      top: 15px;
    }
  }

  // Собственно, сам чекбокс выполненности:
  &_checkbox {
    z-index: 1;

    // Расхлопывание галочки визуализации при отмеченном чекбоксе:
    &:checked + .todo-item_ready-mark_visual:before {
      opacity: 1;
      transform: rotate(31deg);
    }
    &:checked + .todo-item_ready-mark_visual:after {
      opacity: 1;
      transform: rotate(-43deg);
    }
  }
}
