// Пункт списка дел:
.todo-item {
    position: relative;
    padding: 14px 12px;
    border-bottom: 1px solid $items_borders_color;
    display: flex;
    align-items: center;
    @include clearfix();

    // Блок текста в пункте списка:
    .todo-item_text-wrapper {
        flex: 1 0;
        word-wrap: break-word;
        overflow: hidden;
        padding: 0 12px;
        line-height: 1.5em;

        // Собственно, текст пункта списка:
        .todo-item_text {
            overflow: hidden;
            text-align: left;
            font: $font;
            font-size: $font_size_extra_large;
            color: $items_color;
            font-weight: 300;
            border: 0;
            width: 100%;
            outline: none;
            word-break: break-all;
            word-wrap: normal;
            text-overflow: ellipsis;
        }
    }

    // Изменение цвета пункта списка при наведении:
    &:hover,
    &:hover .todo-item_text,
    &:hover.__ready .todo-item_text {
        background-color: $hover_items_color;
        transition: background-color .3s ease-out;
    }

    // Отображение кнопки удаления дела при наведении на пункт списка:
    &:hover .todo-item_remove_visual {
        opacity: 1;
        transition: opacity .3s ease-out;
    }

    // Изменение цвета границы не отмеченного чекбокса выполненности при наведении на пункт списка:
    &:hover .todo-item_ready-mark_visual {
        border-color: $items_borders_color_darken;
    }

    // Изменение стилизации текста дела в пункте списка при отмеченном чекбоксе выполненности:
    &.__ready .todo-item_text {
        color: $inactive_text_color;
        text-decoration: line-through;
        transition: color .2s ease-out;
    }

    // Стилизация отмеченного чекбокса выполненности:
    &.__ready .todo-item_ready-mark_visual,
    .todo-item_ready-mark:checked + .todo-item_ready-mark_visual {
        border-color: $ok_color;
    }

    // Не изменять цвет границы отмеченного чекбокса выполненности при наведении на пункт списка:
    &:hover .todo-item_ready-mark:checked + .todo-item_ready-mark_visual,
    &.__ready:hover .todo-item_ready-mark_visual {
        border-color: $ok_color;
    }

}