// Кнопка удаления дела:
.todo-item_remove {
  align-self: flex-end;
  margin-bottom: 10px;
  float: right;
  height: 18px;
  order: 2;
  width: 18px;

  // Визуализация кнопки:
  &_visual {
    margin: -1px 0;
    opacity: 0;
    transform: rotate(45deg);
    transition: opacity .3s ease-out;

    // Черточки "крестика" в визуализации:
    &:before,
    &:after {
      content: '';
      background-color: $light-rose;
      display: inline-block;
      position: absolute;
      transition: background-color .3s ease;
    }

    &:before {
      height: 22px;
      left: 10px;
      width: 2px;
    }

    &:after {
      height: 2px;
      top: 10px;
      width: 22px;
    }
  }

  // Собственно, кнопка удаления:
  &_btn {
    z-index: 1;
  }

  // Подкрашивать "крестик" при наведении:
  &:hover &_visual:before,
  &:hover &_visual:after {
    background-color: $rose;
  }
}
