// Кнопка-фильтр:
.filter {
  background: none;
  border: 1px solid transparent;
  color: $btn-color;
  font: $font;
  font-weight: 300;
  padding: 2px 8px;
  cursor: pointer;
  user-select: none;
}

  // Окантовка кнопки-фильтра при наведении:
  .filter:hover,
  .filter.__active {
    border: 1px solid $light-rose;
    border-radius: 3px;
  }
