/* TODO: формирование actions-bar на основе процентного соотношения ширины двух блоков: блока с "n items left" и блока с кнопками */

body {
    background-color: rgb(245, 245, 245);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 550px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}
.todos-header {
    text-align: center;
}
.todos-title {
    color: rgb(235, 217, 217);
    font-size: 100px;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 0;
}
.todos-main {
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow:
        0 2px 4px rgba(0, 0, 0, 0.2),
        0 10px 0 -5px rgb(255, 255, 255),
        0 11px 4px -4px rgba(0, 0, 0, 0.2),
        0 20px 0 -10px rgb(255, 255, 255),
        0 20px 4px -8px rgba(0, 0, 0, 0.2);
}
.todo-add {
    position: relative;
    padding: 16px 16px 16px 60px;
    border-bottom: 1px solid rgb(230, 230, 230);
}

/* почему-то при выключении правила display:none не отображается тень декоративного "второго слоя" под actions bar */
.todo-add_select-all {
    position: absolute;
    background: url("icons/select-all.png") no-repeat;
    left: 18px;
    top: 24px;
    float: left;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    width: 24px;
    height: 12px;
}

.todo-add_input {
    outline: none;
    border: none;
    font-style: italic;
    font-size: 24px;
    font-weight: 100;
    width: 100%;
    color: rgb(102, 102, 102);
    letter-spacing: -1px;
}
.todo-add_input::-webkit-input-placeholder {
    letter-spacing: -1px;
    color: rgb(204, 204, 204);
    opacity: 1;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}
.todo-add_input::-moz-placeholder {
    letter-spacing: -1px;
    color: rgb(204, 204, 204);
    opacity: 1;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}
.todo-add_input:-moz-placeholder {
    letter-spacing: -1px;
    color: rgb(204, 204, 204);
    opacity: 1;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}
.todo-add_input:-ms-input-placeholder,
{
    letter-spacing: -1px;
    color: rgb(204, 204, 204);
    opacity: 1;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}
.todo-add_input:focus::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}
.todo-add_input:focus::-moz-placeholder {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}
.todo-add_input:focus:-moz-placeholder {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}
.todo-add_input:focus:-ms-input-placeholder,
{
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}
.todos-list {
    margin-top: 0;
}
.todos-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.todo-item {
    position: relative;
    padding: 16px 16px 16px 60px;
    border-bottom: 1px solid rgb(230, 230, 230);
}
.todo-item::after {
    content: "";
    clear: both;
}
.todo-item:hover,
.todo-item:hover .todo-item_text,
.__ready:hover {
    background-color: rgb(250, 250, 250);

}
.todo-item:hover .todo-item_ready-mark,
.__ready:hover .todo-item_ready-mark {
    border-color: rgb(205, 205, 205);
}

.todo-item:hover .todo-item_ready-mark:checked,
.__ready:hover .todo-item_ready-mark:checked {
    border-color: rgb(115, 202, 186);
}

.todo-item:hover .todo-item_remove {
    display: block;
}
.todos-list .todo-item:last-child {
    border-bottom: 1px solid rgb(230, 230, 230);
}

/* баг -- в textarea не получается запретить перенос строки при вводе, атрибут rows="1" не помогает */
.todo-item_text {
    overflow: hidden;
    text-align: left;
    height: 24px;
    font-size: 24px;
    color: rgb(102, 102, 102);
    font-weight: 300;
    border: 0;
    resize: none;
    width: 90%;
    outline: none;
    word-break: break-all;
}
.todo-item:after {
	content: '';
	display: block;
	clear: both;
}
.todo-item_ready-mark {
    position: absolute;
    left: 12px;
    bottom: 10px;
    float: left;
    background-color: transparent;
    border: 1px solid rgb(230, 230, 230);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    outline: none;
    width: 36px;
    height: 36px;
}

/* т.к. __ready пока пишем руками, то первая строка селектора есть заглушка для стилизации элементов без него */
.todo-item_ready-mark:checked,
.__ready .todo-item_ready-mark:checked {
    border-color: rgb(115, 202, 186);
    background: url(icons/completed.png) no-repeat center;
}
.todo-item_remove {
    position: absolute;
    outline: none;
    top: 23px;
    right: 10px;
    display: none;
    float: right;
    background: url(icons/close.png) no-repeat center;
    width: 18px;
    height: 18px;
    border: 0;
}
.todo-item_ready-mark:checked + .todo-item_text {
    color: rgb(204, 204, 204);
    text-decoration: line-through;
    -webkit-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
}
.todos-actions-bar {
    padding: 10px 12px;
    font-size: 14px;
    font-weight: 200;
    color: rgb(136, 136, 136);
    letter-spacing: -0.5px;
}
.todos-actions-bar:after {
	content: '';
	display: block;
	clear: both;
}
.todos-actions-bar_counter {
    margin-right: 115px;
    float: left;
    padding-top: 4px;
}
.todos-filters button {
    border: 1px solid transparent;
    background-color: transparent;
    font-size: 14px;
    font-weight: 300;
    color: rgb(136, 136, 136);
    outline: none;
    letter-spacing: -0.5px;
    padding: 3px 8px 4px 8px;
    margin-right: 4px
}
.todos-filters button:hover,
.todos-filters button.__active {
    border: 1px solid rgb(235, 223, 223);
    border-radius: 3px;
}
.todos-filters button:last-child {
    float: right;
    margin-right: 0;
    padding-right: 0;
}
.todos-filters button:last-child:hover {
    border: 1px solid transparent;
    text-decoration: underline;
}
