// Кнопка-фильтр:
.filter {
    background: none;
    border: 1px solid transparent;
    color: $btn-color;
    font: $font;
    font-weight: 300;
    margin: 0 5px;
    outline: none;
    padding: 2px 8px;

    &:first-child {
        margin-left: 0;
    }
    &:last-child {
        margin-right: 0;
    }

    // Окантовка кнопки-фильтра при наведении:
    &:hover,
    &.__active {
        border: 1px solid $light-rose;
        border-radius: 3px;
    }
}
