// Кнопка удаления дела:
.todo-item_remove-wrapper {
    align-self: flex-end;
    float: right;
    height: 18px;
    order: 2;
    position: relative;
    width: 18px;

    // Визуализация кнопки:
    .todo-item_remove_visual {
        @include fill-container();
        margin: -1px 0;
        opacity: 0;
        transform: rotate(45deg);

        // Черточки "крестика" в визуализации:
        .remove_visual_element {
            background-color: $light-rose;
            display: inline-block;
            position: absolute;
            transition: background-color .3s ease;

            &:first-of-type {
                height: 22px;
                left: 10px;
                width: 2px;
            }

            &:last-of-type {
                height: 2px;
                top: 10px;
                width: 22px;
            }
        }
    }

    // Собственно, кнопка удаления:
    .todo-item_remove {
        @include fill-container();
        border: 0;
        opacity: 0;
        outline: none;
        z-index: 1;
    }

    // Подкрашивать "крестик" при наведении:
    &:hover .remove_visual_element {
        background-color: $rose;
    }
}
