// Кнопка удаления дела:
.todo-item_remove-wrapper {
    position: relative;
    float: right;
    width: 18px;
    height: 18px;
    order: 2;
    align-self: flex-end;

    // Визуализация кнопки:
    .todo-item_remove_visual {
        @include fill_container();
        opacity: 0;
        margin: -1px 0;
        transform: rotate(45deg);

        // Черточки "крестика" в визуализации:
        .remove_visual_element {
            position: absolute;
            display: inline-block;
            background-color: $light_rose;
            transition: background-color .3s ease;

            &:first-of-type {
                left: 10px;
                width: 2px;
                height: 22px;
            }

            &:last-of-type {
                top: 10px;
                width: 22px;
                height: 2px;
            }
        }
    }

    // Собственно, кнопка удаления:
    .todo-item_remove {
        @include fill_container();
        outline: none;
        opacity: 0;
        border: none;
        z-index: 1;
    }

    // Подкрашивать "крестик" при наведении:
    &:hover .remove_visual_element {
        background-color: $rose;
    }
}
