/* Форма добавления нового дела в список */
.todo-add {
    position: relative;
    padding: 16px 16px 17px 60px;
    border-bottom: 1px solid rgb(230, 230, 230);
}
    /* Текстовое поле ввода нового дела */
    .todo-add_input {
        outline: none;
        border: none;
        font-style: italic;
        font-size: 24px;
        font-weight: 100;
        width: 100%;
        color: rgb(102, 102, 102);
        letter-spacing: -1.5px;
    }
        /* Стилизация подсказки в текстовом поле ввода */
        .todo-add_input::-webkit-input-placeholder {
            letter-spacing: -1.5px;
            color: rgb(204, 204, 204);
            opacity: 1;
            -webkit-transition: opacity 0.3s ease;
            transition: opacity 0.3s ease;
        }
        .todo-add_input::-moz-placeholder {
            letter-spacing: -1.5px;
            color: rgb(204, 204, 204);
            opacity: 1;
            -webkit-transition: opacity 0.3s ease;
            transition: opacity 0.3s ease;
        }
        .todo-add_input:-moz-placeholder {
            letter-spacing: -1.5px;
            color: rgb(204, 204, 204);
            opacity: 1;
            -webkit-transition: opacity 0.3s ease;
            transition: opacity 0.3s ease;
        }
        .todo-add_input:-ms-input-placeholder {
            letter-spacing: -1.5px;
            color: rgb(204, 204, 204);
            opacity: 1;
            -webkit-transition: opacity 0.3s ease;
            transition: opacity 0.3s ease;
        }
        .todo-add_input:focus::-webkit-input-placeholder {
            opacity: 0;
            -webkit-transition: opacity 0.3s ease;
            transition: opacity 0.3s ease;
        }
        .todo-add_input:focus::-moz-placeholder {
            opacity: 0;
            -webkit-transition: opacity 0.3s ease;
            transition: opacity 0.3s ease;
        }
        .todo-add_input:focus:-moz-placeholder {
            opacity: 0;
            -webkit-transition: opacity 0.3s ease;
            transition: opacity 0.3s ease;
        }
        .todo-add_input:focus:-ms-input-placeholder {
            opacity: 0;
            -webkit-transition: opacity 0.3s ease;
            transition: opacity 0.3s ease;
        }
