@mixin placeholder() {
    &::-webkit-input-placeholder {
        @content
    }

    &:-moz-placeholder {
        @content
    }

    &::-moz-placeholder {
        @content
    }

    &:-ms-input-placeholder {
        @content
    }
}

@mixin focused_placeholder() {
    &:focus::-webkit-input-placeholder {
        @content
    }

    &:focus:-moz-placeholder {
        @content
    }

    &:focus::-moz-placeholder {
        @content
    }

    &:focus:-ms-input-placeholder {
       @content
    }
}

