/* Кнопка-фильтр */
.filter {
    border: 1px solid transparent;
    background: none;
    font-size: 14px;
    font-weight: 300;
    color: #888;
    outline: none;
    letter-spacing: -.5px;
    padding: 2px 8px;
    margin: 0 5px
}
    .filter:first-child {
        margin-left: 0;
    }
    .filter:last-child {
        margin-right: 0;
    }

    /* Окантовка кнопки-фильтра при наведении */
    .filter:hover,
    .filter.__active {
        border: 1px solid #ebdfdf;
        border-radius: 3px;
    }
