/* Кнопка удаления дела */
.todo-item_remove-wrapper {
    position: relative;
    float: right;
    width: 18px;
    height: 18px;
    -webkit-box-ordinal-group: 2;
       -moz-box-ordinal-group: 2;
               -ms-flex-order: 1;
                -webkit-order: 2;
                        order: 2;
    /*align-self: flex-end;*/
}
    /* Собственно, кнопка удаления */
    .todo-item_remove {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        outline: none;
        opacity: 0;
        width: 100%;
        height: 100%;
        border: 0;
        z-index: 1;
    }

    /* Визуализация кнопки */
    .todo-item_remove_visual {
        opacity: 0;
        margin: -1px 0;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transform: rotate(45deg);
           -moz-transform: rotate(45deg);
             -o-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
    }
        /* Черточки "крестика" в визуализации */
        .remove_visual_element {
            position: absolute;
            display: inline-block;
            background-color: #ebdfdf;
            -webkit-transition: background-color .3s ease;
            transition: background-color .3s ease;
        }
        .remove_visual_element:first-of-type {
            left: 10px;
            width: 2px;
            height: 22px;
        }
        .remove_visual_element:last-of-type {
            top: 10px;
            width: 22px;
            height: 2px;
        }

    /* Подкрашивать "крестик" при наведении */
    .todo-item_remove-wrapper:hover .remove_visual_element {
        background-color: #ebbaba;

    }
