// Основной блок приложения:
.todos-main {
  background-color: $bg-main-color;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2),
    0 10px 0 -5px $bg-main-color,
    0 11px 4px -4px rgba(0, 0, 0, .2),
    0 20px 0 -10px $bg-main-color,
    0 20px 4px -8px rgba(0, 0, 0, .2);
  margin: 0 auto;
  max-width: 560px;
  min-width: 250px;
  position: relative;
}
  .todos-main .todo-add_select-all {
    visibility: visible;
    opacity: 1;
  }

  .todos-main .todos-list,
  .todos-main .todos-actions-bar {
    display: block;
  }

  .todos-main.__empty {
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  }
    .todos-main.__empty .todo-add_select-all {
      visibility: hidden;
    }

    .todos-main.__empty .todos-list,
    .todos-main.__empty .todos-actions-bar {
      display: none;
    }
