$bg_color: #f5f5f5;
$bg_main_color: #fff;
$btn_color: #888;
$title_color: #ebd9d9;

$ok_color: #73caba;
$select_all_color: #737373;

$items_borders_color: #e6e6e6;
$items_borders_color_darken: #cdcdcd;
$items_color: #666;
$hover_items_color: #fafafa;

$inactive_text_color: #ccc;
$light_rose: #ebdfdf;
$rose: #ebbaba;
