$bg-color: #f5f5f5;
$bg-main-color: #fff;
$btn-color: #888;
$title-color: #ebd9d9;

$ok-color: #73caba;
$select-all-color: #737373;

$items-borders-color: #e6e6e6;
$items-borders-color-darken: #cdcdcd;
$items-color: #666;
$hover-items-color: #fafafa;

$inactive-text-color: #ccc;
$light-rose: #ebdfdf;
$rose: #ebbaba;
