// Чекбокс выполненности дела:
.todo-item_checkbox-wrapper {
    position: relative;
    float: left;
    width: 36px;
    height: 36px;

    // Визуализация чекбокса:
    .todo-item_ready-mark_visual {
        @include fill_container();
        width: 34px;
        height: 34px;
        border: 1px solid $items_borders_color;
        border-radius: 50%;
        transition: border-color .3s ease;

        // Элементы "галочки" в визуализации чекбокса:
        .ready-mark_visual_element {
            display: inline-block;
            background-color: $ok_color;
            position: absolute;
            width: 2px;
            opacity: 0;
            transform-origin: center bottom;
            transition: transform .1s ease-in-out, opacity .3s ease;

            &:first-of-type {
                height: 22px;
                top: 4px;
                left: 15px;
            }

            &:last-of-type {
                height: 12px;
                top: 15px;
                left: 15px;
            }
        }
    }

    // Собственно, сам чекбокс выполненности:
    .todo-item_ready-mark {
        @include fill_container();
        width: 36px;
        height: 36px;
        opacity: 0;
        appearance: none;
        outline: none;
        z-index: 1;

        // Расхлопывание галочки визуализации при отмеченном чекбоксе:
        &:checked + .todo-item_ready-mark_visual .ready-mark_visual_element:first-of-type {
            opacity: 1;
            transform: rotate(31deg);
        }
        &:checked + .todo-item_ready-mark_visual .ready-mark_visual_element:last-of-type {
            opacity: 1;
            transform: rotate(-43deg);
        }
    }
}

