// Чекбокс "пометить все дела как выполненные":
.todo-add_checkbox {
    height: 12px;
    position: absolute;
    top: 26px;
    width: 24px;

    // Визуализация чекбокса:
    .todo-add_select-all_visual {
        @include fill-container();
        overflow: hidden;
        transition: transform .2s ease-in-out;

        // Элементы "галочки" в визуализации чекбокса:
        .select-all_visual_element {
            background-color: $select-all-color;
            display: inline-block;
            height: 20px;
            position: absolute;
            transform-origin: center bottom;
            width: 3px;

            &:first-of-type {
                left: 10px;
                top: -9px;
                transform: rotate(55deg);
            }
            &:last-of-type {
                left: 11px;
                top: -9px;
                transform: rotate(-55deg);
            }
        }
    }
    // Собственно, чекбокс:
    .todo-add_select-all {
        @include fill-container();
        appearance: none;
        opacity: 0;
        outline: none;
        z-index: 1;

        // Разворот галочки чекбокса при его отметке:
        &:checked + .todo-add_select-all_visual {
            transform: rotateX(-180deg);
        }
    }
}