// Панель действий и фильтров:
.todos-actions-bar {
    padding: 6px 12px;
    color: $btn_color;
    text-align: center;
    @include clearfix();

    // Счетчик оставшихся дел на панели:
    .todos-actions-bar_counter {
        float: left;
        margin: 10px 16px 10px 0;
        font: $font;
        font-weight: 200;
        line-height: 1.2;
        padding: 2px 0;
    }

    // Блок кнопок-фильтров:
    .todos-filters {
        display: inline-block;
        margin: 8px 0;
        white-space: nowrap;
    }

    // Кнопка "clear done":
    .todos-actions-bar_clear-completed {
        border: 1px solid transparent;
        background-color: transparent;
        font: $font;
        font-weight: 300;
        color: $btn_color;
        float: right;
        outline: none;
        margin: 8px 0 8px 16px;
        padding: 2px 0;

        // Подчеркивание кнопки "clear done" при наведении:
        &:hover {
            border: 1px solid transparent;
            text-decoration: underline;
        }
    }
}
