// Панель действий и фильтров:
.todos-actions-bar {
  border-top: 1px solid $items-borders-color;
  color: $btn-color;
  padding: 6px 12px;
  text-align: center;
  @include clearfix();
}
  // Счетчик оставшихся дел на панели:
  .todos-actions-bar_counter {
    float: left;
    font: $font;
    font-weight: 200;
    line-height: 1.2;
    margin: 10px 16px 10px 0;
    padding: 2px 0;
  }

  // Кнопка "clear done":
  .todos-actions-bar_clear-completed {
    background-color: transparent;
    border: 1px solid transparent;
    color: $btn-color;
    float: right;
    font: $font;
    font-weight: 300;
    margin: 8px 0 8px 16px;
    outline: none;
    padding: 2px 0;
  }
    // Подчеркивание кнопки "clear done" при наведении:
    .todos-actions-bar_clear-completed:hover {
      border: 1px solid transparent;
      text-decoration: underline;
    }

  // Блок кнопок-фильтров:
  .todos-filters {
    display: inline-block;
    margin: 8px 0;
    white-space: nowrap;
  }
    // Отдельный фильтр
    .todos-filters .filter {
      margin: 0 5px;
    }

    .todos-filters .filter:first-child {
      margin-left: 0;
    }

    .todos-filters .filter:last-child {
      margin-right: 0;
    }
