// Заголовочная часть приложения:
.todos-header {
    text-align: center;
    color: #ebd9d9;

    .todos-title {
        color: inherit;
        font-size: 100px;
        font-weight: 100;
        margin: 0 auto -9px;
    }
}
