// Форма добавления нового дела в список:
.todo-add {
    position: relative;
    padding: 16px 18px 17px 18px;
    border-bottom: 1px solid $items_borders_color;
    @include clearfix();

    // Текстовое поле ввода нового дела:
    .todo-add_input {
        outline: none;
        border: none;
        font: $font;
        font-style: italic;
        font-weight: 300;
        font-size: $font_size_extra_large;
        width: 93%;
        color: $items_color;
        padding-left: 40px;

        @include placeholder() {
            color: $inactive_text_color;
            opacity: 1;
            transition: opacity 0.3s ease;
        }
        @include focused_placeholder() {
            opacity: 0;
            transition: opacity 0.3s ease;
        }
    }
}
