// Чекбокс "пометить все дела как выполненные":
.todo-add_select-all {
  height: 12px;
  position: absolute;
  top: 26px;
  width: 24px;

  // Визуализация чекбокса:
  &_visual {
    @include fill-container();
    overflow: hidden;
    transition: transform .2s ease-in-out;

    // Элементы "галочки" в визуализации чекбокса:
    &:before,
    &:after {
      content: '';
      background-color: $select-all-color;
      display: inline-block;
      height: 20px;
      position: absolute;
      transform-origin: center bottom;
      width: 3px;
    }

    &:before {
      left: 10px;
      top: -9px;
      transform: rotate(55deg);
    }

    &:after {
      left: 11px;
      top: -9px;
      transform: rotate(-55deg);
    }
  }

  // Собственно, чекбокс:
  &_checkbox {
    z-index: 1;

    // Разворот галочки чекбокса при его отметке:
    &:checked + .todo-add_select-all_visual {
      transform: rotateX(-180deg);
    }
  }
}
