body {
  background-color: $bg-color;
  font: $font;
}

// Для пользователей, не пользующихся tab-фокусом, не показывать его:
body:not(.user-is-tabbing) *:focus {
  outline: none;
}

body.user-is-tabbing *:focus {
  outline: 2px solid rgba(122, 172, 255, 0.62) !important;
}


.main-wrapper {
  background-color: $bg-color;
  margin: 0 auto;
  max-width: 560px;
  min-width: 250px;
}