body,
div,
h1,
ul,
li,
input,
button {
  margin: 0;
  padding: 0;
}

ul,
menu {
  list-style: none;
}

textarea,
input,
select {
  font-size: $font-size-default;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}

body {
  background-color: $bg-main-color;
}
