/* checkbox выполненности дела */
.todo-item_checkbox-wrapper {
    width: 36px;
    height: 36px;
    position: relative;
    float: left;
}
    /* Собственно, сам checkbox выполненности */
    .todo-item_ready-mark {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        outline: none;
        width: 36px;
        height: 36px;
        z-index: 1;
    }

    /* Визуализация чекбокса */
    .todo-item_ready-mark_visual {
        position: absolute;
        left: 0;
        top: 0;
        border: 1px solid #e6e6e6;
        border-radius: 50%;
        width: 34px;
        height: 34px;
        -webkit-transition: border-color .3s ease;
           -moz-transition: border-color .3s ease;
             -o-transition: border-color .3s ease;
            -ms-transition: border-color .3s ease;
                transition: border-color .3s ease;
    }
        /* Стилизация отмеченного checkbox'а выполненности */
        .todo-item_ready-mark:checked + .todo-item_ready-mark_visual,
        .todo-item.__ready .todo-item_ready-mark_visual {
            border-color: #73caba;
        }

        /* Элементы "галочки" в визуализации чекбокса */
        .ready-mark_visual_element {
            display: inline-block;
            background-color: #73caba;
            position: absolute;
            width: 2px;
            opacity: 0;
            -webkit-transform-origin: center bottom;
               -moz-transform-origin: center bottom;
                 -o-transform-origin: center bottom;
                -ms-transform-origin: center bottom;
                    transform-origin: center bottom;
            -webkit-transition: opacity .3s ease;
               -moz-transition: opacity .3s ease;
                 -o-transition: opacity .3s ease;
                -ms-transition: opacity .3s ease;
                    transition: opacity .3s ease;
        }
            /* Правила анимации расхолопывания галочки при отмеченном чекбоксе */
            .todo-item .ready-mark_visual_element,
            .todo-item.__ready .ready-mark_visual_element {
                -webkit-transition: transform .1s ease-in-out, opacity .3s ease;
                   -moz-transition: transform .1s ease-in-out, opacity .3s ease;
                     -o-transition: transform .1s ease-in-out, opacity .3s ease;
                    -ms-transition: transform .1s ease-in-out, opacity .3s ease;
                        transition: transform .1s ease-in-out, opacity .3s ease;
            }

            /* Первая черточка в "галочке" визуализации чекбокса */
            .ready-mark_visual_element:first-of-type {
                height: 22px;
                top: 4px;
                left: 15px;
            }
            /* Вторая черточка в "галочке" визуализации чекбокса */
            .ready-mark_visual_element:last-of-type {
                height: 12px;
                top: 15px;
                left: 15px;
            }

            /* Расхлопывание галочки визуализации при отмеченном чекбоксе */
            .todo-item_ready-mark:checked + .todo-item_ready-mark_visual .ready-mark_visual_element:first-of-type {
                opacity: 1;
                -webkit-transform: rotate(31deg);
                   -moz-transform: rotate(31deg);
                     -o-transform: rotate(31deg);
                    -ms-transform: rotate(31deg);
                        transform: rotate(31deg);
            }
            .todo-item_ready-mark:checked + .todo-item_ready-mark_visual .ready-mark_visual_element:last-of-type {
                opacity: 1;
                -webkit-transform: rotate(-43deg);
                   -moz-transform: rotate(-43deg);
                     -o-transform: rotate(-43deg);
                    -ms-transform: rotate(-43deg);
                        transform: rotate(-43deg);
            }
