.action {
  position: relative;
  display: inline-block;

  &_target {
    @include reset-input();
    @include fill-container();
    opacity: 0;
  }

  &_visual {
    @include fill-container();
  }
}
