.action {
  position: relative;
  display: inline-block;

  &_target {
    @include fill-container();
  }
}
  input.action_target,
  button.action_target {
    opacity: 0;
    @include reset-input();
  }