/* TODO: формирование actions-bar на основе процентного соотношения ширины двух блоков: блока с "n items left" и блока с кнопками */
/* Панель действий с делами */
.todos-actions-bar {
    padding: 10px 12px;
    font-size: 14px;
    font-weight: 200;
    color: #888;
    letter-spacing: -0.5px;
}
    /* clearfix для панели действий */
    .todos-actions-bar:after {
        content: '';
        display: block;
        clear: both;
    }

    /* Счетчик оставшихся дел на панели */
    .todos-actions-bar_counter {
        margin-right: 115px;
        float: left;
        padding-top: 2px;
    }
